spring:
  profiles:
    active: local # 기본 환경 선택

# local 환경
---
spring:
  profiles:
    active: local
  datasource:
    url: jdbc:h2:mem:testdb # Spring Boot 2.0 이상은 필수로 url 지정 필요
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
      use-new-id-generator-mappings: false
    defer-datasource-initialization: true
  sql:
    init:
      data-locations: classpath:data-h2.sql
  h2:
    console:
      enabled: true
